@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}



/*.capbox {
	background-color: #92D433;
	border: #B3E272 0px solid;
	border-width: 0px 12px 0px 0px;
	display: inline-block;
	display: inline; zoom: 1;  FOR IE7-8 
	padding: 8px 40px 8px 8px;
    position: relative;
    margin: 0 0;
 
	}*/

.capbox-inner {
	font: bold 11px arial, sans-serif;
	color: #000000;
	background-color: #DBF3BA;
	margin: 5px auto 0px auto;
	padding: 0px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
    height: 80px;
     width: 250px;
vertical-align: middle;
    line-height: 30px;
      
	}

#CaptchaDiv {
	font: bold 17px verdana, arial, sans-serif;
	font-style: italic;
	color: #000000;
	background-color: #FFFFFF;
	padding: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
height: 50px;
    width: 250px;
margin: 5px auto 0px auto;
   display: flex;
  align-items: center;
  justify-content: center;
    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     

	}

#CaptchaInput { margin: 1px 0px 1px 0px; min-width: 135px; }

#progressBar{
   width:70%; 
line-height: 12px;
                   
}

.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"]
{ /*font:400 12px/16px "Open Sans",  font-family: Raleway, sans-serif;*/
     font-family: Raleway, sans-serif;
    font-size: 1.6rem;
  
}



#contact {
/*	background:#90afc5;*/
	padding:25px;
	    background: #00c4cc;
    background-image: linear-gradient(139deg, #00C4CC 0%, #7D2AE8 100%);
}



fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

.form-text
{
font-size: 3rem;
    display: inline-block;
    margin: 25px;
    
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:80%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:80%;
	border:2px solid gold;
	background:#4974CD;
	color:#FFF;
	margin:8px 0 0px;
	padding:10px;
	font-size:15px;
    border-radius: 0.5em;
     font-family: Raleway, sans-serif;
}
#file1{
cursor:pointer;
	width:80%;
	border:none;
/*	background:#4974CD;	*/
    background:gold;
	color:#FFF;
	margin:8px 0 8px;
	padding:10px;
	font-size:1rem;
    border-radius: 0.5em;
     font-family: Raleway, sans-serif;
    color: black;
}


#contact button[type="submit"]:hover {
	background:#09C;
    border: 2px solid black;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
