@import url(http://fonts.googleapis.com/css?family=Raleway);
   /* @import url('https://fonts.googleapis.com/css?family=Raleway:900');
*/
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
    font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
}



html
{
    font-size: 62.5%;
}
header
{
    margin:0;
    padding: 0;
}

.video-header
{
    height:600px;
    width:100%;
    position:relative;
}

.video-header .video-header-text{
    z-index: 1000;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5.6rem;
    font-family: Raleway, sans-serif; 
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    /*   color: #e74c3c;*/
    color:#2d4262;


    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;


}




/*CSS DLA VIDEO Z YT*/
.video-header iframe{

    background: url('images/bootstrap-grid-1170_03.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
  z-index: -500;
    opacity: 0.6;
  overflow: hidden;
    top: 50%;
    left: 50%;
    min-width: 120%;
    min-height: 120%;
    width: 1920px;
    height: auto;

    transform: translateX(-50%) translateY(-50%);
    


}

.aboutus-section{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    border: 0 0;
    position:relative;
    overflow:hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(images/cnc-jobs-in-greece.gif);
   
    
}

.aboutus-section-text 
{
    position:relative;
    text-align: center;
   /* margin-top: 50px;
    margin-bottom: 50px;*/
    margin: 50px 25px;
 /*   color: black;*/
    color: #2d4262;
    font-size: 3.6em;
    font-family: Raleway, sans-serif;
    text-shadow: -1px 0 gold, 0 1px gold, 1px 0 gold, 0 -1px gold;

}


.contact-form-section
{
    /*   background-image: url(images/SIEMENS_CNC_840DSL.jpg);
    background-size: cover ;*/

    padding: 0;
    margin:0;
    font-family: Raleway, sans-serif;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    color: gold;
}

.aboutus-section a
{
    color: gold;
    text-decoration: none;
}


.logo-menu img {
    background: #fff;
    position: absolute;
    top: 0px;
    left: 50px;
    height: 57.6px;
    line-height: 70px;
    width: 57.6px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,.2);
    border-top: 0;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 1001;
    padding: 7px;

}

/*FLEX BOX DLA SEKSJI ABOUTUS*/
.programy-img img
{
    position: relative;
    vertical-align: middle;

}
.aboutus-section .flex-container 
{


    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    vertical-align: middle;
    line-height: 100hv;


}



.programy-img:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    height: 250px;
    width:45%;
    z-index: 1;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
    background-color: white;
    padding: 1.2em;
    
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px #AFAAA9;
    margin:1em 1em 1em 3em;
    box-sizing: border-box;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    flex-grow:1;
    background-image: url(images/solidcam_imachining.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    overflow: hidden;
}

.aboutus-section .flex-container .programy-img:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    box-sizing: border-box;
    flex-grow:2;
    text-align: center;
    height: 250px;
    width:45%;
    z-index: 1;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
    background-color: white;
    padding: 1.41em;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px #AFAAA9;
    margin:1em 3em 1em 1em;
    box-sizing: border-box;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    background-image: url(images/solidworkscam.jpg) ;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    background-size: cover;
    overflow: hidden;

}


.aboutus-section .flex-container .programy-img:nth-child(3) {
    position: relative;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    height: 250px;
    width:45%;
    z-index: 1;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
    background-color: white;
    padding: 0;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px #AFAAA9;
    margin:1em 3em 1em 3em;
    box-sizing: border-box;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    flex-grow:3;
    background-image: url(images/camworks_multiblade.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;

    overflow: hidden;

}

img {max-width:100%;}


/*-------------------------------------------*/

/*--V1.1.9 DODANIE SHINING HOVER DLA IKONEK */

.programy-img:after {
    content: "";
    position: absolute;
    top: 110%;
    left: 210%;
    width: 500%;
    height: 500%;
    opacity: 0;
    transform: rotate(25deg);

    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
        to right, 
        rgba(255, 255, 255, 0.13) 0%,
        rgba(255, 255, 255, 0.13) 77%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0.0) 100%
    );
}

/* Hover state - trigger effect */

.programy-img:hover:after {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
}

.programy-img:nth-child(3):hover:after {
    opacity: 1;
    top: 10%;
    left: -130%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
}

/* Active state */

.programy-img:active:after {
    opacity: 0;
}

/*------------------------------------------------------- */


#rpfsection{
    padding: 0 0 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(images/SIEMENS_CNC_840DSL.jpg);
}
#drop_zone{
    background-color: #EEE;
    border: #999 5px dashed;
    width: 290px;
    height: 200px;
    padding: 8px;
    font-size: 18px;
}
#randomfield { 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    width: 200px;
    color: black;
    border-color: black;
    text-align: center;
    font-size: 40px;
    background-image: url('http://4.bp.blogspot.com/-EEMSa_GTgIo/UpAgBQaE6-I/AAAAAAAACUE/jdcxZVXelzA/s1600/ca.png');
}




figure{
    height: auto;
    width: 100%;


}

@media only screen and (max-width: 850px)
{
    .logo-menu
    {
        display: none;
    }
}

figure img{

    z-index: 1;
    position: relative;
    float:right;
    right:10px;
    padding: 1em;


    /*margin: 10px;*/


}
.form-textarea
{
    font-family: Raleway, sans-serif;
    font-size: 1.6rem;
    color:#888;
    
}
/*FOOTER */

.footer-style{
    width:100%;
    height:50px;   /* Height of the footer */
    background:#e74c3c;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 1.6rem;
    color: aliceblue;
    line-height: 50px; 
    vertical-align: middle;

}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1000


}
#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#cssmenu #menu-button {
    display: none;
}
#cssmenu {
    width: auto;
    font-family: Raleway, sans-serif;
    line-height: 1;
}
#cssmenu > ul {
    background: #e74c3c;
}
#cssmenu > ul > li {
    float: left;
    left: 12.5em;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}
#cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
}
#cssmenu.align-center > ul > li {
    display: inline-block;
    float: none;
}
#cssmenu.align-right > ul > li {
    float: right;
}
#cssmenu > ul > li > a {
    padding: 20px 20px;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    background: #e74c3c;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#cssmenu > ul > li.active > a {
    color: #dff2fa;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
    color: #dff2fa;
    -webkit-transform: rotateX(90deg) translateY(-23px);
    -moz-transform: rotateX(90deg) translateY(-23px);
    transform: rotateX(90deg) translateY(-23px);
    -ms-transform: none;
}
#cssmenu > ul > li > a::before {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 16px 20px;
    color: #dff2fa;
    background: #f5e356;
    content: attr(data-title);
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -ms-transform: translateY(- -18px);
        }
#cssmenu > ul > li:hover > a::before,
#cssmenu > ul > li > a:hover::before {
    background: #FADE4D;
}





/*
#cssmenu.small-screen {
    width: 100%;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
    width: 100%;
    text-align: left;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center {
    float: none;
    display: block;
    border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#cssmenu.small-screen > ul > li:hover > a,
#cssmenu.small-screen > ul > li > a:hover {
    color: #dff2fa;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    -ms-transform: none;
}
#cssmenu.small-screen > ul > li > a::before {
    display: none;
}
#cssmenu.small-screen #menu-button {
    display: block;
    padding: 16px 20px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #FADE4D;
}
#cssmenu.small-screen #menu-button:after {
    content: "";
    position: absolute;
    right: 20px;
    top: 17px;
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    width: 22px;
    height: 3px;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
    border-top: 2px solid #dff2fa;
    border-bottom: 2px solid #dff2fa;
}
#cssmenu.small-screen #menu-button:before {
    content: "";
    position: absolute;
    right: 20px;
    top: 27px;
    display: block;
    width: 22px;
    height: 2px;
    background: #ffffff;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
    background: #dff2fa;
}
*/


